.administrationNav{
    width: 20%;
   height: 650px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    color: white;
}
.viewsPanel{
    width: 80%;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
}
nav{
    ul{
        list-style: none;
    }
}