%commonBtnAndLink {
    transition: 0.8s;
    font-family: "Pacifico", cursive;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
}
/* styles for button */
.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    border: 2px solid black;
    @extend %commonBtnAndLink;
    &:hover {
        background-color: black;
        color: white;
        opacity: 0.8;
    }
}
.secundBtn {
    border: none;
}
.thirdBtn{
    @extend %commonBtnAndLink;
    color: white;
    font-size: 18px;
    &:hover{
        background-color: white;
        color: black;
    }
}

.forBtn{
    @extend %commonBtnAndLink;
    font-size: 10px;
    padding: 2px;
}
.fiveBtn{
    @extend %commonBtnAndLink;
    color: white;
    opacity: 0.8;
    background-color: black;
    border: 2px solid white;
    font-size: 18px;
    &:hover{
        background-color: white;
        color: black;
    }
}
/* styles for link */
.link {
    @extend %commonBtnAndLink;
    border: 2px solid transparent;
    font-size: 20px;
    color: white;
    text-decoration: none;
    &:hover {
        background-color: white;
        color: black;
        opacity: 0.8;
    }
}
.secondLink{
    font-size: 20px;
    margin-left: 0;
    font-family: "Caveat", cursive;
}
.treeLink{
    border: 1px solid black;
}
.forLink{
  color: white;
  margin-right: 20px;
  font-size: 25px;
}
.fiveLink{
    @extend %commonBtnAndLink;
    color: black;
    &:hover{
        background-color: black;
        color: white;
    }
}
.sixLink{
    @extend %commonBtnAndLink;
    color: white;
    opacity: 0.8;
    background-color: black;
    border: 2px solid white;
    font-size: 18px;
    &:hover{
        background-color: white;
        color: black;
    }
}

/* media */

@media all and (max-width: 1280px) {
    .forLink{
        color: white;
        margin-right: 18px;
        font-size: 23px;
      }
}
@media all and (max-width: 991px) {
    .forLink{
        color: white;
        margin-right: 16px;
        font-size: 20px;
      }
}
@media all and (max-width: 768px) {
    .forLink{
        color: white;
        margin-right: 12px;
        font-size: 18px;
      }
    
}