%commonHeder {
    margin: 0;
    letter-spacing: 2px;
}
.heder {
    font-size: 50px;
    font-family: "Lacquer", cursive;
    @extend %commonHeder;
    /* media */
    @media all and (max-width: 768px) {
        font-size: 45px;
    }

    @media all and (max-width: 480px) {
        font-size: 25px;
    }
}
.secundHeder {
    color: silver;
    font-size: 50px;
    font-family: "Lacquer", cursive;
    @extend %commonHeder;
}
/* secundHederH2 */
.hederH2 {
    font-size: 30px;
    font-family: "Lobster", cursive;
    font-weight: 700;
    @extend %commonHeder;
    /* media */
    @media all and (max-width: 480px) {
        font-size: 15px;
    }
}
.thirdHederH2{
    margin: 10px;
}
