%commonIcons {
    font-size: 40px;
    cursor: pointer;
    transition: 0.8s;
}
%commonMenuClass {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.activeClass {
    @extend %commonMenuClass;
    background-color: black;
    opacity: 0.8;
    color: white;
    .iconOpen,
    .iconClose,
    .iconUser,
    .iconLogOut {
        @extend %commonIcons;
    }
    .iconOpen,
    .iconUser {
        &:hover {
            border: 2px solid white;
            background-color: white;
            color: black;
        }
    }
    .iconLogOut {
        margin-right: 10px;
        color: white;
        &:hover {
            color: red;
        }
    }
    .iconClose {
        position: absolute;
        font-size: 35px;
        top: 0;
        left: 2px;
        &:hover {
            color: red;
        }
    }
    .mainNav {
        width: 5%;
        text-align: center;
        .menu {
            list-style: none;
            text-align: left;
            li {
                margin-top: 50px;
            }
        }
    }
    .logoContent {
        width: 9%;
        img {
            margin-top: 2px;
            margin-bottom: 2px;
            width: 100px;
            height: 100px;
            border: 2px solid white;
            border-radius: 50%;
        }
    }
    .contentNameAndLink {
        margin-right: 30px;
        text-align: center;
        .userName {
            margin-right: 10px;
            p {
                font-size: 25px;
                color: white;
            }
        }
    }
    .contentLinkMenu {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 10%;
        .iconUserLogin {
            font-size: 40px;
        }
    }
    .close {
        display: none;
    }
    .open {
        display: contents;
        .contentOpenMenu {
            position: absolute;
            top: 0;
            background-color: black;
            width: 30%;
            height: 1200px;
        }
    }
}

.initialClass,
.oderMenu {
    position: relative;
    z-index: -1;
    @extend %commonMenuClass;
    .iconOpen,
    .iconClose {
        display: none;
    }
    .logoContent {
        position: absolute;
        left: 15px;
        top: 20px;
        img {
            width: 80px;
            height: 80px;
            border: 2px solid white;
            border-radius: 50%;
        }
    }
    .iconLogOut {
        z-index: 1;
    }
    .menu {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        z-index: -1;
    }
    .contentNameAndLink {
        margin-right: 30px;
        text-align: center;
        .userName {
            margin-right: 10px;
            p {
                font-size: 30px;
                color: white;
            }
        }
        .contentLinkMenu {
            .iconUser {
                .iconUserLogin {
                    font-size: 50px;
                }
            }
        }
        .iconLogOut {
            font-size: 50px;
            color: white;
            transition: 0.8s;
            &:hover {
                color: red;
            }
        }
    }
}
.oderMenu {
    background-color: black;
    opacity: 0.8;
    height: 100px;
    .menu {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        z-index: -1;
    }
    .logoContent {
        position: absolute;
        left: 15px;
        top: 8px;
        img {
            width: 80px;
            height: 80px;
            border: 2px solid white;
            border-radius: 50%;
        }
    }
    .iconLogOut {
        z-index: 1;
    }
}

/* media */

@media all and (max-width: 1280px) {
    .initialClass {
        .contentNameAndLink {
            margin-right: 30px;
            text-align: center;
            .iconLogOut {
                font-size: 45px;
                color: white;
                transition: 0.8s;
                &:hover {
                    color: red;
                }
            }
            .userName {
                margin-right: 10px;
                p {
                    font-size: 25px;
                    color: white;
                }
            }
        }
        .logoContent {
            position: absolute;
            left: 15px;
            top: 15px;
            img {
                width: 70px;
                height: 70px;
                border: 2px solid white;
                border-radius: 50%;
            }
        }
    }
    .activeClass {
        .logoContent {
            img {
                margin: 5px;
                width: 80px;
                height: 80px;
                border: 2px solid white;
                border-radius: 50%;
            }
        }
    }
    .oderMenu {
        .contentNameAndLink {
            .userName {
                p {
                    font-size: 25px;
                }
            }
        }
    }
}

@media all and (max-width: 991px) {
    .initialClass {
        .contentNameAndLink {
            margin-right: 30px;
            text-align: center;
            .iconLogOut {
                font-size: 35px;
                color: white;
                transition: 0.8s;
                &:hover {
                    color: red;
                }
            }
            .userName {
                margin-right: 8px;
                p {
                    font-size: 20px;
                    color: white;
                }
            }
        }
        .logoContent {
            position: absolute;
            left: 15px;
            top: 15px;
            img {
                width: 60px;
                height: 60px;
                border: 2px solid white;
                border-radius: 50%;
            }
        }
    }
    .activeClass {
        .logoContent {
            img {
                margin: 5px;
                width: 70px;
                height: 70px;
                border: 2px solid white;
                border-radius: 50%;
            }
        }
        .iconOpen {
            font-size: 36px;
        }
        .contentNameAndLink {
            .userName {
                p {
                    font-size: 20px;
                }
            }
        }
    }
    .oderMenu {
        .contentNameAndLink {
            .userName {
                p {
                    font-size: 20px;
                }
            }
            .iconLogOut {
                font-size: 40px;
            }
        }
        .logoContent {
            img {
                width: 60px;
                height: 60px;
                margin: 10px;
            }
        }
    }
}
@media all and (max-width: 768px) {
    .oderMenu,
    .initialClass {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .logoContent {
            position: static;
        }
        .close {
            display: none;
        }
        .iconOpen {
            color: white;
            display: block;
            font-size: 30px;
            transition: 0.8s;
            &:hover {
                border: 2px solid black;
                background-color: white;
                color: black;
                opacity: 0.8;
            }
        }
        .open {
            display: contents;
            .contentOpenMenu {
                position: absolute;
                margin-top: 10px;
                background-color: black;
                width: 100%;
                opacity: 0.8;
            }
            .iconClose {
                color: white;
                display: block;
                font-size: 30px;
                cursor: pointer;
                transition: 0.8s;
                &:hover {
                    color: red;
                }
            }
            .menu {
                width: 100%;
                position: static;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: flex-start;
                margin-top: 30px;
                opacity: 0.8;
                z-index: 10;
                li {
                    margin-top: 10px;
                }
            }
        }
    }
    .activeClass {
        .logoContent {
            img {
                margin: 5px;
                width: 60px;
                height: 60px;
                border: 2px solid white;
                border-radius: 50%;
            }
        }
        .iconOpen {
            font-size: 30px;
        }
        .contentNameAndLink {
            .userName {
                p {
                    font-size: 18px;
                }
            }
            .iconLogOut {
                font-size: 35px;
            }
        }
        .open {
            .contentOpenMenu {
                width: 50%;
            }
        }
    }
    .oderMenu {
        .open {
            display: contents;
            .contentOpenMenu {
                position: absolute;
                top: 0;
                background-color: black;
                width: 100%;
                opacity: 1;
            }
        }
        .logoContent {
            img {
                width: 60px;
                height: 60px;
                margin-top: 20px;
            }
        }
    }
}
@media all and (max-width: 480px) {
    .initialClass {
        .logoContent {
            img {
                width: 40px;
                height: 40px;
                border: 2px solid white;
                border-radius: 50%;
            }
        }
        .contentNameAndLink {
            .userName {
                p {
                    font-size: 15px;
                }
            }
            .iconLogOut {
                font-size: 30px;
            }
        }
        .iconOpen {
            font-size: 25px;
        }
        .open {
            .contentOpenMenu {
                width: 100%;
            }
        }
    }
    .activeClass {
        .logoContent {
            img {
                margin: 5px;
                width: 45px;
                height: 45px;
                border: 2px solid white;
                border-radius: 50%;
            }
        }
        .iconOpen {
            font-size: 30px;
        }
        .contentNameAndLink {
            .userName {
                p {
                    font-size: 15px;
                }
            }
            .iconLogOut {
                font-size: 30px;
            }
        }
        .open {
            .contentOpenMenu {
                width: 100%;
            }
        }
        .iconUserLogin {
            margin: 10px;
        }
    }
    .oderMenu {
        .logoContent {
            img {
                margin-top: 25px;
            }
        }
        .open {
            .contentOpenMenu {
                margin-top: 15px;
            }
        }
       .contentNameAndLink{
        margin-top: 10px;
       } 
    }
}
